<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dmj.dao.EmployeeMapper">
    <!--根据登录账号查询员工信息-->
    <select id="findEmployeeByLoginName" resultType="com.dmj.entity.Employee">
        SELECT * FROM sys_employee WHERE loginName = #{loginName};
    </select>

    <!-- 根据部门编号查询该部门下的员工数量-->
    <select id="getEmployeeCountByDeptId" resultType="int">
        select count(1) from sys_employee where deptId = #{deptId}
    </select>

    <!--根据角色编号查询员工数量-->
    <select id="getEmployeeCountByRoleId" resultType="int">
        select count(1) from sys_employee e inner join sys_role_employee re on e.id = re.`eid`
        where re.`rid` = #{roleId}
    </select>

    <!--查询员工列表-->
    <select id="findEmployeeList" resultType="com.dmj.entity.Employee">
        select e.*,d.deptName from sys_employee e
        inner join sys_dept d on d.id = e.deptId
        <where>
            <if test="loginName!=null and loginName!=''">
                and e.loginName like concat('%',#{loginName},'%')
            </if>
            <if test="name!=null and name!=''">
                and e.name like concat('%',#{name},'%')
            </if>
            <if test="sex!=null">
                and e.sex = #{sex}
            </if>
            <if test="deptId!=null">
                and e.deptId = #{deptId}
            </if>
            <if test="startDate!=null">
                <![CDATA[ and e.hireDate >= #{startDate} ]]>
            </if>
            <if test="endDate!=null">
                <![CDATA[ and e.hireDate <= #{endDate} ]]>
            </if>
        </where>
        order by e.id
    </select>

    <!--添加员工-->
    <insert id="addEmployee">
       insert into sys_employee (loginName,loginPwd,name,sex,deptId,hireDate,salt,createdBy,createDate,remark)
       values(#{loginName},#{loginPwd},#{name},#{sex},#{deptId},#{hireDate},#{salt},#{createdBy},#{createDate},#{remark})
    </insert>

</mapper>